{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

<div class="container w-75 bg-primary shadow mt-5 mb-5">
    <div class="row align-items-stretch">
        <div class="col bg d-none d-lg-block col-md-5 col-lg-5 col-xl-6">

        </div>

        <div class="col bg-white p-5">
            <div class="text-end">
                <img src="/static/img/logo-Placeholder.png" width="48" alt="Logo de la web">
            </div>
            <h2 class="fw-bold text-left my-3 ">Bienvenido</h2>

            <form class="form-signin" method="POST" action="/login">
                <div class="mb-3">
                    {{ form.hidden_tag() }} <br>
                    {{ wtf.form_field(form.email, placeholder="Correo electrónico") }}<br>
                </div>
                <div class="mb-3">
                    {{ wtf.form_field(form.password, placeholder="Contraseña") }}<br>
                </div>
                <div class="col mb-3">
                    <button type="submit" class="btn btn-primary w-100">Conectarse
                    </button>
                </div>
                <div class="mb-3 form-check">
                    {{ wtf.form_field(form.connected) }}
                </div>

            </form>

            <div class="py-2">
                <span>¿No te has registrado? <a href="{{url_for('signup')}}">Regístrate</a></span>
                <br>
                <span>¿Has olvidado tu contraseña? <a href="#">Recuperar contraseña</a></span>
            </div>
            <div class="col py-3">
                <button class="btn btn-outline-secondary">
                    <div class="row align-items-center">
                        <div class="col-2 d-none d-md-block">
                            <img src="/static/img/spotify.png" width="32" alt="Logo de spotify">
                        </div>
                        <div class="col-10">Conectarse con Spotify</div>
                    </div>
                </button>
            </div>
        </div>
    </div>
</div>

{% endblock %}