body {
    background-color: #f3dbf1;
    background: linear-gradient(to bottom, #ffdbf3, #827be2) fixed;
}

.bg{
    background-image: url(/static/img/background.jpg);
    background-position: center center;
}

.hd{
    background-color: #82018e;
}

.ft{
    background-color: #3B19CF;
}

.card-border{
    border: solid 10px white;
    border-radius: 20px;
    overflow: hidden;
    transition: all ease-out 0.2s;
}

.card-border:hover{
    transform: scale(1.05);
}


